* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

#taskInput {
  width: 75%;
  padding: 10px;
  border: 2px solid #66a6ff;
  border-radius: 8px;
  outline: none;
}

#addBtn {
  width: 20%;
  background: #66a6ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#addBtn:hover {
  background: #5591e7;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #f1f1f1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

button.deleteBtn {
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button.deleteBtn:hover {
  background: rgb(190, 9, 45);
}